<head>
    <title>Book Reccommender</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
    body {
    }
    .header {
        text-align: center;
        font-size: 48px;
        margin: 20px;
    }
    .wrapper {
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }
    </style>
</head>

<body>
    <div id = "app">
        <div class="header">
            <div class="title">Book Recommender</div>
        </div>

        <div class="wrapper">
            <div class="dropdown" v-for="trait in traits">
                <div class="title">{{ trait.title }}</div>
                <select @change="setTrait();">
                    <option v-for="option in trait.options" :value="option">{{ option }}</option>
                </select>
            </div>
        </div>

        <div class="wrapper">
            <button type="button" @click="displayResults()">Submit</button>
        </div>
    </div>

    <script>
        ;

        var traits = [
            {
                title: "Genre",
                options: [
                    "No Preference",
                    "Realistic Fiction",
                    "Fantasy",
                    "Science Fiction",
                    "Dystopia",
                    "Action/Adventure",
                    "Historical Fiction",
                    "Mystery",
                    "Romance",
                    "Classic",
                ],
            },{
                title: "Topic",
                options: [
                    "No Preference",
                    "Death",
                    "Love",
                    "Family",
                    "Friendship",
                    "Coming of Age",
                    "Power",
                    "Change",
                    "Rebellion",
                    "Fate/Chance",
                ]
            },{
                title: "Pages",
                options: [
                    "No Preference",
                    "less than 100",
                    "101-150",
                    "151-200",
                    "201-250",
                    "251-300",
                    "301-350",
                    "351-400",
                    "more than 400",
                ],
            },{
                title: "Series",
                options: [
                    "No Preference",
                    "Yes",
                    "No",
                ]
            },
        ];

        var app = new Vue({
            el: '#app',
            data: {
                traits: traits,
            },
            methods: {
                setTrait: function(delta) {
                    
                },

                displayResults: function(delta) {
                    
                },
            },
        });
    </script>
</body>